<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.napier.greystoriesgame">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="false"
        android:icon="@drawable/greystorieslogo"
        android:label="Grey Stories"
        android:roundIcon="@drawable/greystorieslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreyStoriesGame">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RiddleActivity"/>
        <activity android:name=".SolutionOrHints"/>
        <activity android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".HowToPlayActivity"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>